html {
  height: 100%;
  width: 100%;
  font-family: "San Francisco", sans-serif;
}

body {
  color: black;
}

h1,
h2,
h3,
section,
.center {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;
  background: #00000080;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: black;
}

.insta {
  background: linear-gradient(to bottom right, #833ab4, #833ab4, #fd1d1d, #fcb045, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#slideshow-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.mySlides {
  display: none;
  text-align: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
  width: auto;
  padding-inline: 5px;
  font-size: 40px;
  color: #000000bb;
  background-color: #ffffff80;
  border: solid 1px #00000080;
  border-radius: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.border {
  border-radius: 20px;
  border: solid 1px #000000;
}